<h2>Lista de Usuarios</h2>
<a routerLink="/add-user">Agregar Usuario</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.nombre }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a [routerLink]="['/edit-user', user.id]">Editar</a>
        <button (click)="deleteUser(user.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
