 <div class="navbar">
    <a class="navbar-brand" routerLink="/">Prueba FullStack</a>
    <button class="crypto-btn" (click)="mostrarCryptoPrices()">Mostrar Precios de Criptomonedas</button>
  </div>
  
  <header class="header">
    <h1>CRUD Angular-PHP</h1>
    <div class="description-card">
      <p>Este CRUD hecho con PHP y Angular permite gestionar usuarios de manera eficiente. <br>
         Aquí puedes agregar, editar y eliminar usuarios en la lista.</p>
    </div>
  </header>
  
  <table class="user-table" *ngIf="users && users.length > 0; else noUsers">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.nombre }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="edit-link" [routerLink]="['/edit-user', user.id]">Editar</button>
          <button class="delete-btn" (click)="confirmDeleteUser(user.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="center-button">
    <button class="add-user-btn" routerLink="/add-user">Agregar Usuario</button>
  </div>

  <div class="modal" *ngIf="showCryptoModal">
    <div class="modal-content">
      <div *ngIf="cryptoPrices">
        <h3>Precios de Criptomonedas</h3>
        <div *ngIf="cryptoPrices.precios">
          <br>
          <p><strong>Bitcoin:</strong> {{ cryptoPrices.precios.Bitcoin }}</p>
          <p><strong>Ethereum:</strong> {{ cryptoPrices.precios.Ethereum }}</p>
          <br>
        </div>
      </div>      
      <button class="close-btn" (click)="closeCryptoModal()">Cerrar</button>
    </div>
  </div>
  
  <ng-template #noUsers>
    <p>No hay usuarios para mostrar.</p>
  </ng-template>
  
  <div class="modal" *ngIf="showConfirmModal">
    <div class="modal-content">
      <p>¿Estás seguro de eliminar este usuario?</p>
      <div class="modal-actions">
        <button (click)="deleteUser()" class="confirm-btn">Confirmar</button>
        <button (click)="cancelDelete()" class="cancel-btn">Cancelar</button>
      </div>
    </div>
  </div>
  
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>Usuario eliminado exitosamente</p>
    </div>
  </div>
  
  <footer class="footer">
    <i>Desarrollado por Jhordan Caro © 2024</i>
  </footer>
  