* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3; 
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    width: 100%;
    background-color: #1E201E;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .create-user {
    background-color: #ff6b6b;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .create-user:hover {
    background-color: #ff4757;
  }
  
  .header {
    text-align: center;
    padding: 30px;
    color: #333;
  }
  
  .header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
  }
  
  .header p {
    font-size: 1.2em;
    color: #555;
    color: white;
  }

  .description-card {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #292926;
    border-radius: 10px;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.2em;
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  button, .add-user-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  .add-user-btn {
    display: inline-block;
    margin: 20px 0;
    background-color: #10ac30;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
  }
  
  .add-user-btn:hover {
    background-color: #0e8325;
    transform: translateY(-2px);
  }

  button, .crypto-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  .crypto-btn {
    display: inline-block;
    background-color: #1073ac;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
  }
  
  .crypto-btn:hover {
    background-color: #115a85;
  }
  
.user-table {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px #1e201e;
}

.user-table thead {
    background-color: #1E201E;
    color: #fff;
}

.user-table th, .user-table td {
    padding: 15px;
    text-align: left;
    font-size: 1.1em;
}

.user-table tbody tr:nth-child(even) {
    background-color: #3C3D37;
}

.user-table tbody tr:nth-child(odd) {
    background-color: #292926;
}

.user-table td {
    color: white;
}

  .user-table .edit-link, .user-table .delete-btn {
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-table .edit-link {
    background-color: #eed742;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    color: white;
    margin-right: 13px;
  }
  
  .user-table .edit-link:hover {
    background-color: #d1b91d;
  }
  
  .user-table .delete-btn {
    background-color: #ff6b6b;
    color: #fff;
    transition: background-color 0.3s;
    color: white;
  }
  
  .user-table .delete-btn:hover {
    background-color: #ee5253;
  }

  .center-button {
    text-align: center;
    margin: 20px 0;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .modal-content {
    background-color: #3C3D37;
    color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .confirm-btn {
    background-color: #10ac30;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cancel-btn {
    background-color: #ff6b6b;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .confirm-btn:hover {
    background-color: #0e8325;
  }
  
  .cancel-btn:hover {
    background-color: #f14e4e;
  }
  
  .footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
    margin-top: auto;
  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5em;
    }

    .description-card {
        font-size: 1em;
        padding: 15px;
      }
  
    .user-table, .user-table th, .user-table td {
      font-size: 0.9em;
    }
  
    .user-table th, .user-table td {
      padding: 10px;
    }
  
    .add-user-btn {
      font-size: 1em;
      padding: 10px 20px;
    }
  
    .user-table .edit-link, .user-table .delete-btn {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    
    .user-table tr td:last-child {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .modal-content {
        padding: 15px 30px;
        font-size: 1em;
      }
  }
  